@charset "utf-8";
@import '~bulma/bulma';

// TRANSITIONS

.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

::-webkit-scrollbar {
  display: none;
}
